*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
.colorTexto{
    color:#636363;
}
a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;;
}
body{
    overflow-x:hidden;
    background-color:#f2f2f2;
    font-family: 'Montserrat';
}
body::selection {
    background-color: rgb(255, 229, 97);
    color:mediumorchid;
}
p h1 h2 h3 li{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-weight: 400;
}
/* Inicio */
.navbar{
    background-color: #636363 !important;
    position: fixed;
    width: 100%;
    z-index: 5;
    margin-bottom: 15px;
}
.nav-link{
    color: whitesmoke;
}
.imgNav{
    height: 70px;
    margin-left: 10px;
    margin-top: auto;
}
/*waves*/
.headerwaves{
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgb(191,154,202) 0%, rgba(199,232,243,1) 100%);
    color:#f2f2f2;
    background-color: #f2f2f2;
    width: 100%;
}
.inner-header{
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}
.flex{ /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves{
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}  
  /* Animation */ 
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
    transform: translate3d(85px,0,0);
    }
}
/*fin waves*/
.sloganIndex{
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(255, 229, 97, 0.589) 100%);
    height: auto;
    width: auto;
    border-radius: 50px;
    margin-top: 60px;
    padding-top: 20px;
}
.intro{
    margin: auto;
    text-align: center;
    padding: 65px;
    font-size: 30px
}
.slogan{
    padding: 25px;
    margin: 10px;
    text-align: center;
    color:#636363;
    font-weight:200;
}
.iconosMVV{
    height: 45px;
    width: auto;
}
.MVV{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 90%;
    gap: 10px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    width: auto;
    height: auto;
    margin-top: 20px;
    background-color:#f2f2f2;
}
.card-header{
    background-color:#f2f2f2;
}
.card-text{
    text-align: center;
    padding-left: 0rem;
}
.fondoAmarillo{
    background-color: rgb(255, 229, 97);
    margin-top: 130px;
    width: 60%;
    border-radius: 10px;
}
h2{
    padding: 10px;
}
.serviciosIndex{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 90%;
    gap: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.iconosServicios{
    height: 55px;
    width: auto;
}
.iconosServiciosB{
    height: 45px;
    width: auto;
    margin: 5px;
}
.btnSust{
    border-color: rgb(135, 206, 235);
    color: skyblue;
}
.btnSust:hover{
    background-color: skyblue;
    color: black;
}
.btnCO{
    border-color: grey;
    color: grey;
}
.btnCO:hover{
    background-color: grey;
    color: black;
    border-color: gray;
}
.btnTriple{
    border-color: gold;
    color: gold;
}
.btnTriple:hover{
    background-color: gold;
    color: black;
}
.btnLegal{
    border-color: blueviolet;
    color: blueviolet;
}
.btnLegal:hover{
    background-color: blueviolet;
    border-color: blueviolet;
    color: black;
}
.btnConocenos{
    display: flex;
    flex-direction: column;
}
.btnC{
    align-items: center;
    margin-top: 15px;
}
.fondoCeleste{
    background-color: rgb(199, 232, 243);
    margin-top: 80px;
    width: 60%;
    margin-bottom: 0rem;
    border-radius: 10px;
}
/*Trayectoria*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
.section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.stats .fa {
  color: rgb(191, 154, 202);
  font-size: 60px;
}
.row{
    margin-top: 35px;
}
/* Equipo */
.equipoInicio{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 0px;
    align-items: baseline;
    justify-items: center;
    padding-bottom: 15px;
}
.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
}
.container {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
}
.container:after {
    background-color: #f2f2f2;
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}
.container:hover {
    transform: scale(0.54);
}
.container-inner {
    clip-path: path(
      "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
    );
    position: relative;
    transform-origin: 50%;
    top: -200px;
}
.circle {
    background-color:rgb(199, 232, 243);
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
}
.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
    transform: translateY(0) scale(1.2);
}
.img1 {
    left: 22px;
    top: 164px;
    width: 340px;
}
.img2 {
    left: -46px;
    top: 174px;
    width: 444px;
}
.img3 {
    left: -16px;
    top: 144px;
    width: 466px;
}
.divider {
    background-color:rgb(199, 232, 243);
    height: 1px;
    width: 160px;
}
.divider2 {
    background-color:rgb(199, 232, 243);
    height: 1px;
    width: 500px;
    margin-top: 20px;
}
.name {
    color: #636363;
    font-size: 36px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
}
.title {
    color: #636363;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
}
/*ContactoInicio*/
.fondoLila{
    background-color:rgb(191, 154, 202);
    margin-top: 80px;
    width: 60%;
    margin-bottom: 0rem;
    border-radius: 10px;
}
.conteinerContacto{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 90%;
    gap: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.iconoWhapp{
    font-size: 35px;
}
/* Footer */
footer{
    margin: 50px;
}
.footer #buttonFooter{
	width:55px;
	height:55px;
	border: #636363 12px solid;
	border-radius:35px;
    margin-left: 1250px;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #buttonFooter:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 3em;
    overflow:hidden;
    margin:auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 15em;
}
.footer #containerFooter{
	margin-top:5px;
	width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0; 
    background: #3A3A3A;
    margin-bottom: 50px;
    padding-bottom: 15px;
}
.footer #cont{
    position:relative;
    top:-45px;
    right:190px;
    width:150px;
	height:auto;
	margin:auto;
}
.footer_center{
	width:500px;
	float:left;
}
.footer h3{
    color: white;
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
}
.encorePie{
    color: white;
    font-size: 30px;
    transition: all 1s;
}
.encorePie:hover{
    transform: scale(2);
}
.madeby{
    text-align: end;
    margin-right: 5px;
    margin-top: 7px;
    font-size: 15px;
}
/* Equipo */
.ondaEquipo{
    padding-top: 130px;
    background-image:url(../imagenes/equipo_img.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction:column;
  }
  .boxOnda {
    width: 100%;
    height: 900px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .onda {
    opacity: .8;
    position: absolute;
    background:rgb(191, 154, 202);
    width: 400px;
    height: 400px;
    margin-left: 35%;
    margin-top: 3%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  .onda.-tres {
    animation: drift 5000ms infinite linear;
    background:rgb(199, 232, 243);
  }
  .onda.-dos {
    animation: drift 7000ms infinite linear;
    opacity: .7;
    background: rgb(255, 229, 97);
  }
  .titleEquipo {
    font-weight: 400;
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 1;
    line-height: 430px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
.equipoIntro{
    text-align:end;
    margin-top: 15px;
    color: white;
    text-shadow: #636363;
}
.accordion-item .accordion-button{
    background-color: #f2f2f2;
}
.accordion-body{
    background-color: #f2f2f2;
}
.accordion-header{
    background-color: #f2f2f2;
}
.imgAcordion{
    width: 85px;
    height: auto;
    display: block;
}
/* Servicios */
.ondaServicios{
  padding-top: 94px;
  background-image:url(../imagenes//portada_servicio.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  flex-direction:column;
}
.boxServicios {
  width: 100%;
  height: 900px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.wave {
  opacity: .8;
  position: absolute;
  background:rgb(199, 232, 243);
  width: 400px;
  height: 400px;
  margin-left: 35%;
  margin-top: 5%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave.-three {
  animation: drift 5000ms infinite linear;
  background:rgb(191, 154, 202);
}
.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .7;
  background: rgb(255, 229, 97);
}
.titleServicios {
    font-weight: 400;
  position: absolute;
  margin: auto;
  width: 100%;
  z-index: 1;
  line-height: 470px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
.btnLegal2{
    border-color: blueviolet;
    color: blueviolet;
    background-color:#f2f2f2;
}
.btnLegal2:hover{
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
}
.btnHoteles{
    border-color:#4c8640;
    color:#4c8640;
    background-color:#f2f2f2;
}
.btnHoteles:hover{
    background-color: green;
    border-color: green;
    color: white;
}
.btnTriple2{
    border-color:gold;
    color: gold;
    background-color:#f2f2f2;
}
.btnTriple2:hover{
    background-color:gold;
    border-color:gold;
    color: white;   
}
.btnSust2{
    border-color: #0dcaf0;
    color: #0dcaf0;
    background-color:#f2f2f2;
}
.btnSust2:hover{
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: white;
}
.fondoLila{
    background-color: rgb(191, 154, 202);
    margin-top: 20px;
    width: 60%;
    margin-bottom: 0px;
    margin-top: 80px;
    border-radius: 10px;
}
.contenedorClientes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.cardClientes{
    border-color: transparent;
}
/*Sustentabilidad*/
  .boxSerSust{
    background-color:rgb(199, 232, 243);
    margin: 15px;
    padding: 8px;
    width: 50%;
    border-radius: 10px;
  }
  .titleSerSust {
    font-weight: 500;
    margin: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    color:#757272a4;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-indent: .3em;
    letter-spacing: .1em;
  }
  .subt{
    margin-left: 15px;
  }
.contenedortextoSust{
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgb(189, 233, 248) 100%);
    height: auto;
    width: auto;
    border-radius: 50px;
    margin-top: 60px;
    padding-top: 20px;
}
.textoSust{
    padding: 25px;
    margin: 10px;
    text-align: center;
    color:#636363;
    font-weight:200;
}
.topicosS{
    background-color:rgb(199, 232, 243);
    margin: 5px;
    padding: 8px;
    width: 50%;
    border-radius: 10px;
}
ol, ul{
    padding-left: 0px;
}
/*Huella*/
.fondoHuella{
    width: 100%;
    height: 100%;
    padding-top: 94px;
}
.boxSerHuella{
    background-color:grey;
    margin: 15px;
    padding: 8px;
    width: 50%;
    border-radius: 10px;
  }
.titleSerHuella {
    font-weight: 500;
    margin: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-indent: .3em;
    letter-spacing: .1em;
  }
.contenedortextoHuella{
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(75, 75, 75, 0.596) 100%);
    height: auto;
    width: auto;
    border-radius: 50px;
    margin-top: 60px;
    padding-top: 20px;
}
.textoSust{
    padding: 25px;
    margin: 10px;
    text-align: center;
    color:#636363;
    font-weight:200;
}
.topicosH{
    background-color:grey;
    margin: 5px;
    padding: 8px;
    width: 50%;
    border-radius: 10px;
}
.colorTextoB{
    color: whitesmoke;
}
.colorTextoB2{
    color: whitesmoke;
    padding-top: 15px;
    padding-right: 15px;
}
.imgH{
    width: 50px;
}
.conIcono{
    display: flex;
    flex-direction: row;
}
.iconoH{
    font-size: 40px;
}
.imgGHG{
    text-align: center;
    margin-bottom: 30px;
}
.space{
    margin-top: 55px;
}
.space2{
    margin-bottom: 80px;
}
/*Legal*/
.fondoLegal{
    width: 100%;
    height: 100%;
    padding-top: 94px;
}
  .boxSerLegal{
    background-color:rgb(191, 154, 202);
    margin: 15px;
    padding: 8px;
    width: 50%;
    border-radius: 10px;
  }
  .titleSerLegal {
    font-weight: 500;
    margin: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    color:#757272a4;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-indent: .3em;
    letter-spacing: .1em;
  }
.contenedortextoLegal{
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgb(191, 154, 202, 0.589) 100%);
    height: auto;
    width: auto;
    border-radius: 50px;
    margin-top: 60px;
    padding-top: 20px;
}
.textoLegal{
    padding: 25px;
    margin: 10px;
    text-align: center;
    color:#636363;
    font-weight:200;
}
.topicosL{
    background-color:rgb(191, 154, 202);
    margin: 5px;
    padding: 8px;
    width: 50%;
    border-radius: 10px;
}
/* Contacto */
.vagueContacto{
    padding-top: 94px;
    background-image:url(../imagenes/casaOriginal.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction:column;
  }
  .boxContacto {
    width: 100%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .vague {
    opacity: .8;
    position: absolute;
    background:rgb(199, 232, 243);
    width: 400px;
    height: 400px;
    margin-left: 35%;
    margin-top: 5%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  .vague.-trois {
    animation: drift 5000ms infinite linear;
    background:rgb(255, 229, 97);
  }
  .vague.-deux {
    animation: drift 7000ms infinite linear;
    opacity: .7;
    background:rgb(191, 154, 202);
  }
  .titleContacto {
    font-weight: 400;
    font-size: 33px;
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 1;
    line-height: 470px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
  .contenedorContacto{
    width: 70%;
    height: auto;
    margin: auto;
  }
  .columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    gap: 15px;
  }
  .fa-handshake{
    font-size: 150px;
    color: #636363;
    text-align: center;
  }
  .iconoContacto{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulosContacto{
    background-color: rgba(255, 229, 97, 0.795);
    margin-top: 5px;
    padding-left: 5px;
    width: 50%;
    border-radius: 10px;
    font-weight: 400;
  }
  .datosContacto{
    text-align: center;
  }
  .mapaC{
    width: 850px; 
    height: 300px;
    border-radius: 15px;
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #a5a5a5;
    border-radius: 50%;
    border-color: #4d4b4b solid;
    text-align: center;
    color: #fff;
    font-size: 30px;
    z-index: 999;
}
.whatsapp-button-Bv {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #4c8640;
    border-radius: 50%;
    border-color: #4c8640 solid;
    text-align: center;
    color: #fff;
    font-size: 30px;
    z-index: 999;
}
.fa-whatsapp{
    margin-top: 22%;
}
/*Internacional*/
.intLogo{
    padding-top: 50px;
}
.img-thumbnail{
    height: auto;
    width: 15rem;
}
.carreteInternacional{
    width: 95%;
    margin-top: 3%;
    margin-left: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}
.bandera{
    width: 50px;
    height: 50px;
    margin-top: 1%;
}
.linea{
    display: flex;
    flex-direction: row;
}
.ubicacionInternacional{
    display:grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 3%;
    justify-content: center;
    align-content: center;
    margin-right: 2.2%;
}
.boliviaMap{
    width: 500px;
    height: auto;
}
.ubiBoli{
    width: 60%;
    height: auto;
    font-size: medium;
    justify-content: end;
    align-content: end;
}
.introBol{
    text-align: center;
    align-self: center;
}
/* Responsive */
@media screen and (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .encorePie{
        font-size: 20px;
        margin-right: 10px;
    }
    .MVV{
        display: inline
    }
    .serviciosIndex{
        display: inline;
        margin: auto;
    }
    .divider2{
        width: 100%;
    }
    .ondaEquipo{
        padding-top: 0px;
    }
    .boxOnda{
        width: 100%;
        height: 300px;
    }
    .onda{
        width: 200px;
        height: 200px;
        margin-left: 37%;
    }
    .titleEquipo{
        font-size: medium;
        line-height: 230px;
    }
    .boxContacto{
        width: 100%;
        height: 300px;
    }
    .vague{
        width: 200px;
        height: 200px;
        margin-left: 37%;
    }
    .titleContacto{
        font-size: medium;
        line-height: 270px;
    }
    .mapa{
        width: 200px;
        height: 50px;
    }
    .sombra{
        margin-left: 10px;
        margin-right: 10px;
    }
    .divider3{
        width: 60%;
    }
    .boxServicios{
        width: 100%;
        height: 300px;
    }
    .wave{
        width: 200px;
        height: 200px;
        margin-left: 38%;
    }
    .titleServicios{
        font-size: medium;
        line-height: 270px;
    }
    .footer #cont{
        top: 5%;
        right: 12%;
        width: 50px;
    }
    .footer #buttonFooter{
        width: 20px;
        height: 20px;
        margin-left: 40%;
    }
    .footer #buttonFooter:hover{
        width: 12px;
        height: 12px;
    }
    .footer_center{
        font-size: medium;
        margin: auto;
    }
    .redes{
        gap: 10px;
        margin-right: 75%;
    }
    .encorePie{
        font-size: 20px;
    }
    .footer h3{
        margin-left: 0%;
    }
    .contenedorContacto{
        margin: 2px;
        width: 100%;
    }
    .columnas{
        grid-template-columns: none;
    }
    .mapaC{
        width: 600px;
    }    
    .iconoContacto{
        display: none;
    }
    .madeby{
        font-size: small;
    }
    .iconoWhapp{
        font-size: 15px;
    }
    .imgH{
        width: 70px;
    }
    .carreteInternacional{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .bandera{
        width: 55px;
        height: 60px;
        margin: auto;
    }
    .genPortadaInternacional{
        width: 80%;
    }
    .boliviaMap{
        width: 400px;
    }
}
@media screen and (max-width: 576px) {
    .genPortada{
        width: 80%;
    }
    .intro{
        font-size: larger;
    }
    .onda{
        margin-left: 23%;
    }
    .ondaEquipo{
        height: 500px;
    }
    .ondaServicios{
        background-image: url(../imagenes/serviciosMobile.png);
        background-attachment: local;
        height: 600px;
        width: 100%;
    }
    .wave{
        width: 200px;
        height: 200px;
        margin-left: 23%;
    }
    .titleContacto{
        line-height: 230px;
        font-size: small;
    }
    .vague{
        margin-left: 24%;
    }
    .titleServicios{
        line-height: 230px;
    }
    .mapaC{
        width: 350px;
    }
    .vagueContacto{
        background-image: url(../imagenes/casaOriginal\ \(2\).png);
    }
    .boxSerHuella{
        width: 60%;
    }
    .imgH{
        width: 80px;
        height: 80px;
        margin: auto;
    }
    .topicosH{
        width: 60%;
    }
    .imgGHG{
        display: none;
    }
    .textoSust{
        font-size: large;
    }
    .boxSerSust{
        width: 90%;
    }
    .topicosS{
        width: 65%;
    }
    .topicosH{
        font-size: large;
    }
    .carreteInternacional{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .img-thumbnail{
        width: 10rem;
        height: auto;
    }
    .ubicacionInternacional{
        grid-template-columns: 0.5fr 2fr;
    }
    .boliviaMap{
        width: 190px;
    }
    .introBol{
        font-size: small;
    }
}
@media screen and (max-width: 305px) {
    .onda{
        margin-left: 18%;
    }
    .wave{
        margin-left: 20%;
    }
    .vague{
        margin-left: 20%;
    }
    .imgH{
        width: 40px;
        height: 40px;
        margin: auto;
    }
}
/*Animacion*/
/*Sust y huella*/
.reveal-text,
.reveal-text:after {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 1300ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.1, 1, 0);
}

.reveal-text {
  position: relative;
  user-select: none;
  animation-name: reveal-text;
  /* white-space: pre-wrap; */
}

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer-text {
  
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  60%, 100% {
    transform-origin: 100% 50%;   
  }

  50% {
    transform: scaleX(1);
  }
  
  60% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}
